.record-container{
    display:flex;
    width:100vw
}

.nav-menu{
    display:flex;
    margin-left:auto;
    width:30vw;
    justify-content:space-around;
    align-self:center;
}

.nav-menu-login-header{
    display: flex;
    margin-left:auto;
    width:20vw;
    justify-content:space-around;
    align-self:center;
}

.nav-menu-user-header{
    display:flex;
    margin-left:auto;
    width:30vw;
    justify-content:space-around;
    align-self:center;
}

@media screen and (max-width:500px){
    .nav-menu-login-header{
        width:50vw;
    }
    .nav-menu-user-header{
        width:60vw;
    }
}

ul {
    list-style-type: none;
  }

li{
    color: white;
}

.nav-header{
    background-color: #007196;
}

.nav-link{
    text-decoration: none;
    font-size:20px;
}

.record-title{
    color:white;
    padding: 0.5vh 0.5vw 0.5vh 1vw;
}

.logo{
    width:150px;
    margin-left:2vw;
    margin-top:1vh;
    margin-bottom:1vh;
}

